body {
	background-color: #2B3466;
	font-family: Arial;
	text-align: center;
}
.wrapper {
	background-color: #B2B1EF;
	max-width: 90%;
	margin: 0 auto;
	padding: 20px;
	padding-top: 10px;
}
h1 {
	color: #2B3466;
}
img {
	border: solid 5px;
	border-color: #2B3466;
}
section {
	background-color: #9D87BF;
	max-width: 90%;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}
.clearfix:after {
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
.left {
	float: left;
	padding-left: 20px;
	display: inline-block;
}
.right {
	float: right;
	padding-right: 20px;
	display: inline-block;
}
.center {
	margin: 0 auto;
	display: inline-block;
} 
footer {
	text-align: center;
	color: #F0D8C9;
}
a:link {
	color: #2B3466;
	text-decoration: none;
}
a:visited {
	color: #F0D8C9;
	text-decoration: none;
}
a:hover {
	color: #F0D8C9;
	text-decoration: underline;
}